In [1]:
#NUMBERS

In [2]:
#Write an equation that uses multiplication, division, an exponent, addition, and subtraction
#that is equal to 100.25.

In [4]:
(60+(10**2)/4*7)-134.75

100.25

In [5]:
4*(6+5)

44

In [6]:
4*6+5

29

In [7]:
4+6*5

34

In [8]:
#What is the type of the result of the expression 3 + 1.5 + 4?

In [9]:
#Floating point

In [11]:
#square
10**2

100

In [13]:
100**0.5
#squareroot

10.0

In [14]:
#STRINGS

In [15]:
s = 'hello'

In [18]:
s

'hello'

In [19]:
#print of e
s[1]

'e'

In [24]:
#reverse by slicing
s[::-1]

'olleh'

In [27]:
#two methods to print 'o'
#method 1
print(s[4])

o

In [29]:
#method 2
print(s[-1])

o

In [30]:
#LISTS

In [32]:
#BUILD LIST[0,0,0], 2 SEPERATE WAYS

#METHOD 1
mylist =[0,0,0]

In [38]:
#method 2
[0]*3

[0, 0, 0]

In [39]:
#DICTIONARIES

In [40]:
d={'simple_key':'hello'}

In [42]:
#grab hello
d['simple_key']

'hello'

In [45]:
d= {'k1':{'k2':'hello'}}

In [48]:
#grab hello
d['k1']['k2']

'hello'

In [52]:
d= {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [57]:
#grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [58]:
#tuples

In [59]:
#how do you create a tuple?

In [60]:
t=(1,2,3)

In [61]:
#sets

In [62]:
#find unique values of list below
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [63]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}